.cadastros {
    flex-direction: column;
}
#check{
    display: none;
}
.divImgLogo{
    width: 12rem;
}
.CadastrosLeft{
    display: flex;
    flex-direction: row;
}
.CadastrosLeft img{
    width: 100%;
}
.config{
    width: 1.6rem;
}
.ContentRight{
    padding: 0 1rem;
    position: absolute;
    z-index: 1;
    height: 3rem;
    display: flex;
    width: 100vw;
    justify-content: space-between;
    flex-direction: column;
}
.labels{
    padding: 15px;
    z-index: 1;
    height: 3rem;
    border-bottom: solid 1px #D4E1EB;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.labels label{
    cursor: pointer;
}
.navbars{
    display: flex;
    flex-direction: column;
}
.bar{
    position: relative;
    background-color: #fff;
    height: 100vh;
    width: 200px;
    transition: all 0.2s linear;
    left: -300px;
    border-right: solid #D4E1EB 1px;
}
.bar nav{
    width: 100%;
    top: 65px;
}
.bar img.logo{
    padding: 0.3rem;
    padding-bottom: 1.3rem;
}
.bar a{
    text-decoration: none;
}

.bar .link{
    background-color: #F8F8F8;
    padding: 0.5rem;
    font-size: 12pt;
    transition: all 0.2s linear;
    color: #2570DD;
}
.bar h2{
    background-color: #005187;
    padding: 0.5rem;
    font-size: 12pt;
    transition: all 0.2s linear;
    color: #F8F8F8;
    font-weight: normal;
}
.link:hover{
    background-color: #005187;
    color: white;
}

#check:checked ~ .bar{
    display: block;
    transform: translateX(300px);
}
#check:checked ~ .ContentRight{
    position: relative;
}

/* LINK PARA CADASTRO DE GRUPOS */
.divCadUsu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.LabelCadUsu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F8F8F8;
    transition: all 0.2s linear;
}
#checkGru{
    display: none;
}
#checkGru:checked ~ .grupos{
    display: block;
}
.checkGru{
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    cursor: pointer;
    color: #2570DD;
}
.etc{
    width: 100%;
    background-color: #F8F8F8;
    padding: 0.5rem;
    font-size: 12pt;
    transition: all 0.2s linear;
    color: #2570DD;
}
.grupos{
    display: none;
    padding: 0.5rem;
    font-size: 12pt;
    color: #2570DD;
    transition: all 0.2s linear;
}
.grupos:hover{
    background-color: #005187;
    color: white;
}
.LabelCadUsu:hover > .etc{
    background-color: #005187;
    color: white;
}
.LabelCadUsu:hover > .checkGru{
    color: white;
}
.LabelCadUsu:hover{
    background-color: #005187;
    color: white;
}
.arrowInv{
    display: none;
}
@media (max-width: 767px){
    #check:checked ~ .bar{
        transform: translateX(300px);
        position: absolute;
        z-index: 99999;
    }
    #check:checked ~ .ContentRight .labels .arrow{
        position: absolute;
        width: 13px;
        left: 220px;
    }
    #check:checked ~ .ContentRight .labels .config{
        position: absolute;
        width: 25px;
        right: 29px;
    }
    #check:checked ~ .ContentRight .labels .arrowInv{
        display: block;
    }
}

@media (min-width: 768px) and (max-width: 1023px){
    #check:checked ~ .bar{
        transform: translateX(300px);
        position: absolute;
        z-index: 99999;
    }
    #check:checked ~ .ContentRight .labels .arrow{
        position: absolute;
        width: 13px;
        left: 220px;
    }
    #check:checked ~ .ContentRight .labels .config{
        position: absolute;
        width: 25px;
        right: 29px;
    }
    #check:checked ~ .ContentRight .labels .arrowInv{
        display: block;
    }
}

